#box{
    border: solid 1px black;
    height: 150px;
    width: 150px;
    margin: auto;
}
button{
    display: block;
    margin: auto;
    margin-top: 2vh;
    padding: 2vh 0;
    width: 25%;
}
.red{
    background: red;
}
.yellow{
    background: yellow;
}

.on{
    background: green;
}

.off{
    background: red;
}

.on , .off{
    border: none;
    color: white;
}