*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border: solid 1px black;
    width: 70%;
    padding: 2vh 2vw;
    background: linear-gradient(to bottom,pink,grey);
    margin: 5vh auto;    
    box-shadow: 0 0 10px black;
    border-radius: 20px;
}
button{
    margin-top: 2vh;
    background: green;
    margin-left:70%;
    width: 30%;
    height: 5vh;
    border-radius: 20px;
}
input{
    margin-top: 2vh;
    height: 5vh;
    width: 100%;
    border-radius: 15px;
}
h1{
    justify-content: center;
    text-align: center;
}
header{
    background: linear-gradient(to bottom,palegreen,white);
    height: 10vh;
}

.err{
    color: red;
    text-align: right;
}